* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #080710;
}

header {
  width: 100%;
  height: 70px;
  background-color: rgb(56, 56, 56);
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  background-color: rgba(255, 255, 255, 0.13);
}

.seats-wrapper {
  margin: 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  width: 90%;
  max-width: 900px;
  height: 400px;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.slot {
  width: 100%;
  height: 100%;
  border: 2px solid rgb(140, 140, 140);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
  font-size: 1.4rem;
  border-radius: 7px;
  background-color: white;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
}

.slot:hover {
  transform: translateY(-5px);
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
}

.slot.no-transition {
  transform: none;
  cursor: not-allowed;
  opacity: 0.5;
}

button {
  padding: 12px;
  font-size: 1rem;
  width: 100px;
  background-color: rgb(56, 56, 56);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
  transition: background-color 0.2s ease-in-out;
}

button:hover {
  background-color: rgb(36, 36, 36);
}

h4 {
  margin-bottom: 10px;
  font-size: 1.2rem;
  font-weight: 500;
  text-align: center;
  color: white;
}

.credit {
  margin-bottom: 10px;
  font-size: 1.3rem;
  font-weight: 500;
  color: white;
}

.payment-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.8);
}

.payment-modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  max-width: 500px
}

.user-details{
  display: flex;
  justify-content: space-evenly;
  width: 700px;
}

.user-details .credit, .user-details .logged-user-email{
  color: white;
  background-color: rgb(56, 56, 56);
  color: white;
  border: none;
  border-radius: 5px;
  padding: 14px;
  width: 300px;
}

.user-icon{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.user-content{
  width: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 7px;
}

.logged-user-email{
  font-size: 1.3rem;
  color: white;
}

.inner-details{
  display: flex;
  flex-direction: column;
  gap: 5px;
}